<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<div id="events_container">
  <%= render :partial => 'paginate_albums' %>
</div>
    <p>Now let's render us some pagination!</p>
    <%= will_paginate @page_results, :renderer => "RemoteLinkRenderer",:remote => { :update => "events_container", :loading => visual_effect(:appear, "loader"),:complete =>visual_effect(:fade,"loader" ) } %>

    <%= will_paginate @page_results, :renderer => 'RemoteLinkRenderer' , :remote => {:with =>"'page='+#{params['page']}" , :update =>"events_container"} %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
